.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-left: 17px;
}

.sectionTitle {
    margin: 28px 0px 20px 17px;
    font-weight: 600;
    font-size: 20px;
    color: #838383;
}


@media screen and (max-width: 890px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .cards {
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
}